<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sistema Mu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- endbuild -->
  </head>
  <body layout="row" ng-app="frontendmuApp" ng-controller="MasterCtrl" style="background-color: lightgray;">
  <md-sidenav ng-if="authenticated && obj.establecimiento" class="site-sidenav md-sidenav-left md-whiteframe-z2" style="width: 250px;" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

    <header class="nav-header">
      <img src="images/logo.jpg" width="100%">
    </header>
    <md-content flex role="navigation">
      <div class="collection">
        <a href="#/dashboard" class="collection-item black-text">Home</a>
        <a ng-href="#/inventario" class="collection-item black-text">Manejo</a>
        <a href="#/sanitacion" class="collection-item black-text">Sanitación</a>
        <a href="#/nutricion" class="collection-item black-text">Nutrición</a>
        <a href="#/" class="collection-item black-text">Genética</a>
        <a href="#/establecimiento" class="collection-item black-text">Establecimiento</a>
      </div>
    </md-content>
    <footer layout-padding>
      <p align="right">© 2015 Bellbird</p>
    </footer>

  </md-sidenav>
  <div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar ng-if="authenticated" ng-hide="loginView" class="md-whiteframe-z1 grey lighten-3">
      <div class="md-toolbar-tools" tabIndex="-1">
        <md-button class="md-icon-button" aria-label="Menu"hide-gt-md ng-click="toggleLeft()">
          <md-icon><i class="material-icons" style="color: white">menu</i> </md-icon>
        </md-button>
        <div layout="row" flex class="fill-height">
          <h2 class="md-toolbar-item md-breadcrumb md-headline">
            <span class="md-breadcrumb-page black-text md-headline">{{obj.establecimiento.nombre || 'Seleccione un establecimiento para continuar'}}</span>
          </h2>
        </div>
        <md-menu md-position-mode="target-right target" >

          <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
            <md-icon><i class="material-icons">more_vert</i> </md-icon>
          </md-button>

          <md-menu-content width="4" >
            <md-menu-item ng-hide="true">
              <md-button>
                <p>Nada</p>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-href="#/main">
                <p>Cambiar establecimiento</p>
              </md-button>
            </md-menu-item>
            <md-divider></md-divider>
            <md-menu-item>
              <md-button ng-href="#/logout">
                <p>Cerrar sesión</p>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    <md-content md-scroll-y layout="column" flex>
      <div ng-view layout-padding flex="noshrink"></div>
    </md-content>
  </div>





    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
  <script src='bower_components/fullcalendar/dist/lang/es.js'></script>
  <script src="scripts/angular-locale_es-py.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/djangoauth.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/validate.js"></script>
        <script src="scripts/controllers/logout.js"></script>
        <script src="scripts/controllers/master.js"></script>
        <script src="scripts/services/serverdata.js"></script>
        <script src="scripts/services/establecimiento.js"></script>
        <script src="scripts/controllers/inventario.js"></script>
        <script src="scripts/services/animal.js"></script>
        <script src="scripts/services/lote.js"></script>
        <script src="scripts/services/potrero.js"></script>
        <script src="scripts/services/categoria.js"></script>
        <script src="scripts/services/raza.js"></script>
        <script src="scripts/services/mortandad.js"></script>
        <script src="scripts/controllers/establecimiento.js"></script>
        <script src="scripts/controllers/potrero.js"></script>
        <script src="scripts/controllers/nutricion.js"></script>
        <script src="scripts/services/nutricion.js"></script>
        <script src="scripts/controllers/sanitacion.js"></script>
        <script src="scripts/services/evento.js"></script>
        <script src="scripts/services/eventoestablecimiento.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <!-- endbuild -->
</body>
</html>
