<!doctype html>
<!-- load-staticfiles -->
<html>
<head>
  <meta charset="utf-8">
  <title>Sistema Mu</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
  <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="../bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- endbuild -->
</head>
<body layout="row" ng-app="frontendmuApp" ng-controller="MasterCtrl" style="background-color: lightgray;">
<div class="m-app-loading" ng-animate-children ng-if="false">
  <!--
      HACKY CODE WARNING: I'm putting Style block inside directive so that it
      will be removed from the DOM when we remove the directive container.
  -->
  <style type="text/css">
    div.m-app-loading {
      position: absolute;
    }

    div.m-app-loading div.animated-container {
      background-color: #FFFFFF;
      bottom: 0px;
      left: 0px;
      opacity: 1.0;
      position: fixed;
      right: 0px;
      top: 0px;
      z-index: 999999;
    }

    /* Used to initialize the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave {
      opacity: 1.0;
      transition: all linear 200ms;
      -webkit-transition: all linear 200ms;
    }

    /* Used to set the end properties of the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave-active {
      opacity: 0;
    }

    div.m-app-loading div.messaging {
      color: #4CAF50;
      font-family: monospace;
      left: 0px;
      margin-top: -37px;
      position: absolute;
      right: 0px;
      text-align: center;
      top: 50%;
    }

    div.m-app-loading h1 {
      font-size: 26px;
      line-height: 35px;
      margin: 0px 0px 20px 0px;
    }

    div.m-app-loading p {
      font-size: 18px;
      line-height: 14px;
      margin: 0px 0px 0px 0px;
    }
  </style>


  <!-- BEGIN: Actual animated container. -->
  <div class="animated-container">

    <div class="messaging">

      <h1>
        La aplicación se esta cargando
      </h1>

      <p>
        Por favor espere!
      </p>

    </div>

  </div>
  <!-- END: Actual animated container. -->

</div>
<!-- END: App-Loading Screen. -->


<md-sidenav ng-if="obj.establecimiento.id" class="site-sidenav md-sidenav-left md-whiteframe-z2" style="width: 250px;"
            md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

  <header class="nav-header">
    <img src="images/logo.jpg" width="100%">
  </header>
  <md-content flex role="navigation">
    <md-sidemenu locked="true">
      <md-sidemenu-group ng-show="obj.establecimiento.potreros.length">
        <md-divider style="margin:0;"></md-divider>
        <md-sidemenu-button href="#dashboard">
          <md-icon><i class="material-icons">dashboard</i></md-icon>
          Dashboard
        </md-sidemenu-button>
      </md-sidemenu-group>
      <md-sidemenu-group ng-show="obj.establecimiento.potreros.length">
        <md-divider style="margin:0;"></md-divider>
        <md-sidemenu-content md-icon="assignment" md-heading="Manejo" md-arrow="true">
          <md-sidemenu-button ng-show="obj.establecimiento.potreros.length" href="#inventario">Inventario
          </md-sidemenu-button>
          <md-sidemenu-button ng-show="obj.establecimiento.lotes.length" href="#servicio">Servicio</md-sidemenu-button>
          <md-sidemenu-button ng-show="obj.establecimiento.potreros.length" href="#compra">Compra de animales
          </md-sidemenu-button>
          <md-sidemenu-button ng-show="obj.establecimiento.lotes.length" href="#venta">Venta de animales
          </md-sidemenu-button>
          <md-sidemenu-button ng-show="obj.establecimiento.lotes.length" href="#mortandad">Mortandad y Abigeo
          </md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>
      <md-sidemenu-group ng-show="obj.establecimiento.lotes.length">
        <md-divider style="margin:0;"></md-divider>
        <md-sidemenu-button href="#sanitacion">
          <md-icon><i class="material-icons">local_hospital</i></md-icon>
          Sanitación
        </md-sidemenu-button>
      </md-sidemenu-group>
      <md-sidemenu-group ng-show="obj.establecimiento.lotes.length">
        <md-divider style="margin:0;"></md-divider>
        <md-sidemenu-button href="#nutricion">
          <md-icon><i class="material-icons">restaurant</i></md-icon>
          Nutrición
        </md-sidemenu-button>
      </md-sidemenu-group>
      <md-sidemenu-group ng-show="obj.establecimiento.lotes.length">
        <md-divider style="margin:0;"></md-divider>
        <md-sidemenu-button href="#genetica">
          <md-icon><i class="material-icons">people</i></md-icon>
          Genética
        </md-sidemenu-button>
      </md-sidemenu-group>
      <md-sidemenu-group>
        <md-divider style="margin:0;"></md-divider>

        <md-sidemenu-content md-icon="home" md-heading="Establecimiento" md-arrow="true">
          <md-sidemenu-button href="#establecimiento">Configuración</md-sidemenu-button>
          <md-sidemenu-button href="#meteorologia">Meteorología</md-sidemenu-button>
          <md-sidemenu-button href="#empleados">Empleados y contratistas</md-sidemenu-button>
          <md-sidemenu-button href="#venta">Contabilidad</md-sidemenu-button>
          <md-sidemenu-button href="#mortandad">Resultados físicos</md-sidemenu-button>
        </md-sidemenu-content>
      </md-sidemenu-group>

    </md-sidemenu>
  </md-content>
  <footer layout-padding>
    <p align="right">© 2015 Bellbird</p>
  </footer>

</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex ng-cloak>
  <md-toolbar ng-hide="loginView" class="md-whiteframe-z1 green">
    <div class="md-toolbar-tools" tabIndex="-1">
      <md-button class="md-icon-button" aria-label="Menu" hide-gt-md ng-click="toggleLeft()">
        <md-icon><i class="material-icons white-text">menu</i></md-icon>
      </md-button>
      <div layout="row" flex class="fill-height">
        <h2 class="md-toolbar-item md-breadcrumb md-headline">
          <span class="md-breadcrumb-page white-text md-headline">[[obj.establecimiento.nombre || 'Seleccione un establecimiento para continuar']]</span>
        </h2>
      </div>
      <md-menu md-position-mode="target-right target">

        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
          <md-icon><i class="material-icons white-text">more_vert</i></md-icon>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-href="#/main">
              <p>Cambiar establecimiento</p>
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ng-href="#/logout">
              <p>Cerrar sesión</p>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <md-content md-scroll-y layout="column" flex>
    <div ng-view layout-padding flex="noshrink" class="grey lighten-4" ng-if="obj.establecimiento"></div>
  </md-content>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
<script src="bower_components/js-xlsx/dist/xlsx.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.js"></script>
<!-- endbower -->
<!-- endbuild -->



<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="../bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
<script src="../bower_components/fullcalendar/dist/lang/es.js"></script>
<script src="scripts/angular-locale_es-py.js"></script>
<script src="scripts/angular-file.js"></script>
<script src="scripts/write.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/logout.js"></script>
<script src="scripts/controllers/master.js"></script>
<script src="scripts/controllers/inventario.js"></script>
<script src="scripts/controllers/establecimiento.js"></script>
<script src="scripts/controllers/potrero.js"></script>
<script src="scripts/controllers/nutricion.js"></script>
<script src="scripts/controllers/sanitacion.js"></script>
<script src="scripts/controllers/dashboard.js"></script>
<script src="scripts/controllers/mortandad.js"></script>
<script src="scripts/controllers/raza.js"></script>
<script src="scripts/controllers/categoria.js"></script>
<script src="scripts/controllers/meteorologia.js"></script>
<script src="scripts/controllers/empleado.js"></script>
<script src="scripts/controllers/compra.js"></script>

<script src="scripts/controllers/dialogs/dialogo_crear_compra.js"></script>
<script src="scripts/controllers/dialogs/dialogo_animal.js"></script>
<script src="scripts/controllers/dialogs/dialogo_eliminar_animal.js"></script>
<script src="scripts/controllers/dialogs/dialogo_mudar_animal.js"></script>
<script src="scripts/controllers/dialogs/dialogo_recategorizar_animal.js"></script>
<script src="scripts/controllers/dialogs/dialogo_lote.js"></script>
<script src="scripts/controllers/dialogs/dialogo_mortandad.js"></script>
<script src="scripts/controllers/dialogs/dialogo_editar_crear_lote.js"></script>
<script src="scripts/controllers/dialogs/dialogo_archivo.js"></script>

<script src="scripts/services/djangoauth.js"></script>
<script src="scripts/services/validate.js"></script>
<script src="scripts/services/serverdata.js"></script>
<script src="scripts/services/establecimiento.js"></script>
<script src="scripts/services/animal.js"></script>
<script src="scripts/services/lote.js"></script>
<script src="scripts/services/potrero.js"></script>
<script src="scripts/services/categoria.js"></script>
<script src="scripts/services/animalCaravana.js"></script>
<script src="scripts/services/raza.js"></script>
<script src="scripts/services/mortandad.js"></script>
<script src="scripts/services/nutricion.js"></script>
<script src="scripts/services/evento.js"></script>
<script src="scripts/services/eventoestablecimiento.js"></script>
<script src="scripts/services/menu.js"></script>
<script src="scripts/services/meteorologia.js"></script>
<script src="scripts/services/empleado.js"></script>
<script src="scripts/services/contratista.js"></script>
<script src="scripts/services/compra.js"></script>
<script src="scripts/controllers/venta.js"></script>
<script src="scripts/services/venta.js"></script>
<script src="scripts/services/noticia.js"></script>
<script src="scripts/filters/limittohtml.js"></script>
<script src="scripts/controllers/dialogs/dialogo_crear_venta.js"></script>
<script src="scripts/services/servicio.js"></script>
<script src="scripts/controllers/servicio.js"></script>
<script src="scripts/controllers/dialogs/dialogo_crear_servicio.js"></script>
<script src="scripts/controllers/genetica.js"></script>
<script src="scripts/services/genetica.js"></script>
<script src="scripts/controllers/dialogs/dialogo_lote_genetica.js"></script>
<!-- endbuild -->
</body>
</html>
