<md-dialog layout="column" aria-label="Compra" style="min-width: 100%; min-height: 100%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="white-text">Ingreso</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()">
          <md-icon class="md-icon-button white-text"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <section>
      <!-- Card Encabezado -->
      <md-card>
        <md-content layout-padding>
          <h4 class="green-text">Encabezado</h4>
          <div layout="row">


            <md-input-container class="md-accent-1 md-block" >
              <label>Motivo</label>
              <input ng-model="newIngresoVario.motivo">
            </md-input-container>
            <md-input-container class="md-accent-1 md-block" >
              <label>Comprador</label>
              <input ng-model="newIngresoVario.comprador">
            </md-input-container>
            <md-input-container class="md-accent-1 md-block">
              <label>Cantidad</label>
              <input ng-model="newIngresoVario.cantidad" type="number">
            </md-input-container>
            <md-input-container class="md-accent-1 md-block">
              <label>Precio unitario</label>
              <input ng-model="newIngresoVario.precio_unitario" type="number">
            </md-input-container>

            <md-datepicker ng-model="fecha" style="margin:13px 0;"
                           md-placeholder="Fecha"></md-datepicker>
          </div>
        </md-content>
      </md-card>

    </section>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button flex-order="1" ng-click="guardarIngresoVario()" class="md-primary">Guardar</md-button>
      <md-button ng-click="cancel()">Cancelar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
