<md-dialog layout="column" aria-label="Lote" style="min-width: 800px; ">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="white-text">Agregar un Establecimiento</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()" ng-hide="inicial">
        <i class="material-icons white-text text-darken-4">close</i></md-button>
    </div>
  </md-toolbar>
  <md-content ng-show="inicial">
    <h4 style="text-align: center">Antes que nada debe crear un establecimiento</h4>
  </md-content>
  <form layout="column" layout-padding ng-show="departamentos.results.length >= 1" name="form">
    <md-input-container>
      <label>Codigo del establecimiento</label>
      <input ng-model="newEstablecimiento.codigo" required name="codigo">
      <div ng-messages="form.codigo.$error" ng-show="form.codigo.$touched || form.$submitted">
        <div ng-messages-include="views/error_messages.html"></div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Nombre del establecimiento</label>
      <input ng-model="newEstablecimiento.nombre" required name="nombre">
      <div ng-messages="form.nombre.$error" ng-show="form.nombre.$touched || form.$submitted">
        <div ng-messages-include="views/error_messages.html"></div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Departamento</label>
      <md-select ng-model="newEstablecimiento.departamento" required name="departamento">
        <md-option ng-repeat="departamento in departamentos.results" value="[[departamento.id]]">
          [[departamento.nombre]]
        </md-option>
      </md-select>
      <div ng-messages="form.departamento.$error" ng-show="form.departamento.$touched || form.$submitted">
        <div ng-messages-include="views/error_messages.html"></div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Ciudad</label>
      <input ng-model="newEstablecimiento.ciudad" required name="ciudad">
      <div ng-messages="form.ciudad.$error" ng-show="form.ciudad.$touched || form.$submitted">
        <div ng-messages-include="views/error_messages.html"></div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Plan</label>
      <md-select ng-model="newEstablecimiento.plan">
        <md-option ng-repeat="plan in planes" value="[[plan.id]]">
          [[plan.nombre]]
        </md-option>
      </md-select>
    </md-input-container>

    <md-dialog-actions layout="row">
      <!--<div class="md-actions"><a href="#" flex>Informe</a></div>-->
      <span flex></span>
      <md-button type="submit" flex-order="1" ng-click="form.$valid && guardar()" class="md-primary">Guardar</md-button>
      <md-button ng-click="cancel()" ng-hide="inicial">Cancelar</md-button>
    </md-dialog-actions>
  </form>
  <div layout="row" layout-sm="column" layout-align="center center" ng-hide="departamentos.results.length >= 1">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
  </div>
</md-dialog>
