
<md-dialog layout="column" aria-label="Categoria" style="min-width: 1000px; ">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="white-text">Detalle Contratista</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()"></md-button>
    </div>
  </md-toolbar>
  <form>
    <md-dialog-content layout-padding>
      <div layout="column">
          <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Nombre</label>
                  <input ng-model="newContratista.nombre" required>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Apellido</label>
                  <input ng-model="newContratista.apellido" required>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Cedula de Identidad Nº.</label>
                  <input ng-model="newContratista.numero_cedula" required>
              </md-input-container>
          </div>
          <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Fecha de Nacimiento</label>
                  <input type="date" ng-model="newContratista.fecha_nacimiento" required>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Teléfono</label>
                  <input ng-model="newContratista.telefono" required>
              </md-input-container>
          </div>
          <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Actividad</label>
                  <input ng-model="newContratista.actividad" required>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Jornal</label>
                  <input ng-model="newContratista.jornal" required>
              </md-input-container>
          </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" >
      <!--<div class="md-actions"><a href="#" flex>Informe</a></div>-->
      <span flex></span>
      <md-button flex-order="1" ng-click="answer('guardar')" class="md-primary">Guardar</md-button>
      <md-button ng-click="cancel()" >Cancelar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
