
<md-dialog layout="column" aria-label="Lote" style="min-width: 800px; ">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="white-text">Inseminación</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()"></md-button>
    </div>
  </md-toolbar>
  <form>
    <md-dialog-content>
      <div>
        <md-input-container>
          <label>Fecha</label>
          <input type="date" ng-model="form.fecha" required>
        </md-input-container>
        <md-input-container >
          <label>Sanitacion</label>
          <md-select ng-model="form.sanitacion">
            <md-option ng-repeat="sanitacion in sanitaciones" value={{sanitacion.id}}>
              {{sanitacion.title}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container >
          <label>Vacuna</label>
          <md-select ng-model="form.vacuna">
            <md-option ng-repeat="vacuna in vacunas" value={{vacuna.id}}>
              {{vacuna.nombre}} - {{vacuna.nombre_cientifico}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>

    <div class="md-actions" layout="row" >
      <!--<div class="md-actions"><a href="#" flex>Informe</a></div>-->
      <span flex></span>
      <md-button flex-order="1" ng-click="answer('guardar')" class="md-primary">Guardar</md-button>
      <md-button ng-click="cancel()" >Cancelar</md-button>
    </div>
  </form>
  <div layout="row" layout-sm="column" layout-align="center center" ng-hide="sanitaciones.length >= 1">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
  </div>
</md-dialog>
