<md-dialog aria-label="Noticia"  ng-cloak style="width: 800px;">
  <md-toolbar>
    <div class="md-toolbar-tools white-text">
      <h2>Noticias</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon><i class="material-icons white-text">close</i> </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <br>
  <md-dialog-content>
    <div class="md-dialog-content">

      <h2 style="text-align: center;">[[noticia.titulo]]</h2>
      <center>
        <img flex width="100%" src="[[noticia.imagen]]">
      </center>
      <div>
        <p>[[noticia.fecha | date:"medium"]]</p>
        <div ng-bind-html="noticia.texto"></div>
      </div>
    </div>
    </div>
  </md-dialog-content>
</md-dialog>
