
<md-dialog layout="column" aria-label="Cliente" style="min-width: 800px; min-height: 600px">
  <form name="form">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="white-text">Detalle Animal</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()"></md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
  <form ng-show="razas.length >= 1 && categorias.length >= 1"  >

    <md-input-container class="md-accent-1 md-block">
          <label>Caravana</label>
          <input ng-model="newAnimal.caravana" required name="caravana">
          <div ng-messages="form.caravana.$error" ng-show="form.caravana.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Categoria</label>
          <md-select ng-model="newAnimal.categoria" required name="categoria">
            <md-option ng-repeat="cat in categorias" value="[[cat.id]]">
              [[cat.nombre]]
            </md-option>
          </md-select>
          <div ng-messages="form.categoria.$error" ng-show="form.categoria.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Carimbo</label>
          <input ng-model="newAnimal.carimbo" type="number" required name="carimbo">
          <div ng-messages="form.carimbo.$error" ng-show="form.carimbo.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Raza</label>
          <md-select ng-model="newAnimal.raza" required name="raza">
            <md-option ng-repeat="raza in razas" value=[[raza.id]]>
              [[raza.nombre]]
            </md-option>
          </md-select>
            <div ng-messages="form.raza.$error" ng-show="form.raza.$touched || form.$submitted">
              <div ng-messages-include="views/error_messages.html"></div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Estado Sanitario</label>
          <md-select ng-model="newAnimal.estado_sanitario" required name="estado">
            <md-option value="E">
              En fecha
            </md-option>
            <md-option value="N">
              No esta en fecha
            </md-option>
            <md-option value="D">
              Desconocido
            </md-option>
          </md-select>
          <div ng-messages="form.estado.$error" ng-show="form.estado.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Lote</label>
          <md-select ng-model="newAnimal.lote" aria-label="Lote" required name="lote">
            <md-option value="">
              No asignar
            </md-option>
            <md-option ng-repeat="lote in lotes" value=[[lote.id]]>
              [[lote.nombre]]
            </md-option>
              </md-select>
          <div ng-messages="form.lote.$error" ng-show="form.lote.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Peso</label>
          <input ng-model="newAnimal.peso_especifico" type="number" required name="peso">
          <div ng-messages="form.peso.$error" ng-show="form.peso.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>

    <md-dialog-actions layout="row" >
      <!--<div class="md-actions"><a href="#" flex>Informe</a></div>-->
      <span flex></span>
      <md-button type="submit" flex-order="1" ng-click="form.$valid && answer('guardar')" class="md-primary">Guardar</md-button>
      <md-button ng-click="cancel()" >Cancelar</md-button>
    </md-dialog-actions>
  </form>

  <div layout="row" layout-sm="column" layout-align="center center" ng-hide="razas.length >= 1 && categorias.length >= 1" layout-align="space-around">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
  </div>
  </md-content>
  </form>
</md-dialog>
