<md-dialog layout="column" aria-label="Compra" style="min-width: 100%; min-height: 100%">
  <form name="form">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="white-text">Compra Animal</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()">
        <md-icon class="md-icon-button white-text"><i class="material-icons">close</i></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- Card Encabezado -->
  <md-card>
    <md-content layout-padding>
      <h4 class="green-text">Encabezado</h4>
      <div layout="row">
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Codigo de establecimiento del vendedor</label>
          <input name="establecimiento_vendedor" ng-model="newCompra.cod_establecimiento_vendedor" required>
          <div ng-messages="form.establecimiento_vendedor.$error" ng-show="form.establecimiento_vendedor.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Nombre del vendedor</label>
          <input name="vendedor" ng-model="newCompra.nombre_vendedor" required>
          <div ng-messages="form.vendedor.$error" ng-show="form.vendedor.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Numero de Guia</label>
          <input name="numero_guia" ng-model="newCompra.numero_guia" type="number" required>
          <div ng-messages="form.numero_guia.$error" ng-show="form.numero_guia.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-datepicker ng-model="fecha_compra" style="margin:13px 0;"
                       md-placeholder="Fecha de compra"></md-datepicker>
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Precio</label>
          <input type="number" ng-model="newCompra.precio_total">
        </md-input-container>
      </div>
    </md-content>
  </md-card>

  <md-card>
    <!-- Este es el formulario de carga de detalles -->
    <md-content layout-padding>
      <h4 class="green-text">Detalles</h4>
      <div layout="row">
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Categoria</label>
          <md-select ng-model="newDetalle.categoria">
            <md-option ng-repeat="categoria in categorias" value="[[categoria.id]]" name="categoria" required>
              [[categoria.nombre]]
            </md-option>
          </md-select>
          <div ng-messages="form.categoria.$error" ng-show="form.categoria.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Carimbo</label>
          <md-select name="carimbo"  ng-model="newDetalle.carimbo" required>
            <md-option value=0>0</md-option>
            <md-option value=1>1</md-option>
            <md-option value=2>2</md-option>
            <md-option value=3>3</md-option>
            <md-option value=4>4</md-option>
            <md-option value=5>5</md-option>
            <md-option value=6>6</md-option>
            <md-option value=7>7</md-option>
            <md-option value=8>8</md-option>
            <md-option value=9>9</md-option>
          </md-select>
          <div ng-messages="form.carimbo.$error" ng-show="form.carimbo.$touched || form.$submitted">
            <div ng-messages-include="views/error_messages.html"></div>
          </div>
        </md-input-container>
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Raza</label>
          <md-select ng-model="newDetalle.raza">
            <md-option ng-repeat="raza in razas" value="[[raza.id]]">
              [[raza.nombre]]
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Cantidad</label>
          <input type="number" ng-model="newDetalle.cantidad">
        </md-input-container>
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Nro de caravana inicial</label>
          <input type="number" ng-model="newDetalle.nro_caravana_inicial">
        </md-input-container>
        <md-input-container class="md-accent-1 md-block" flex>
          <label>Lote</label>
          <md-select ng-model="newDetalle.lote">
            <md-option value="">
              No asignar
            </md-option>
            <md-option ng-repeat="lote in lotes" value="[[lote.id]]">
              [[lote.nombre]]
            </md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-icon-button" ng-click="cargarDetalleCompra(newDetalle)">
          <md-icon><i class="material-icons">add</i></md-icon>
        </md-button>
      </div>
    </md-content>

    <!-- Este seria el listado de detalles de compra -->
    <md-content>
      <md-table-container>
        <table md-table md-row-select multiple ng-model="seleccionDetalleCompra" md-progress="promise">
          <thead md-head md-order="" md-on-reorder="">
          <tr md-row>
            <th md-column>Categoria</th>
            <th md-column>Carimbo</th>
            <th md-column>Raza</th>
            <th md-column>Cantidad</th>
            <th md-column>Caravanas</th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row md-select="detalle_compra" md-select-id="id" md-auto-select
              ng-repeat="detalle_compra in newCompra.detalle_compra">
            <td md-cell>[[detalle_compra.categoria]]</td>
            <td md-cell>[[detalle_compra.carimbo]]</td>
            <td md-cell>[[detalle_compra.raza]]</td>
            <td md-cell>[[detalle_compra.cantidad]]</td>
            <td md-cell>[[detalle_compra.caravana_inicial]] a [[detalle_compra.caravana_inicial +
              detalle_compra.cantidad]]
            </td>
          </tr>
          <tr>
            <td md-cell colspan="6" ng-show="newCompra.detalle_compra.length == 0"><p style="text-align: center;" flex>
              No hay detalles
              de compras
              cargados</p></td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page"
                           md-total="[[compras.count]]" md-on-paginate="updateListadoCompras"
                           md-page-select></md-table-pagination>
    </md-content>
  </md-card>
  <md-dialog-actions layout="row">
    <!--<div class="md-actions"><a href="#" flex>Informe</a></div>-->
    <span flex></span>
    <md-button type="submit" flex-order="1" ng-click="form.$valid && guardarCompra(newCompra)" class="md-primary">Guardar</md-button>
    <md-button ng-click="cancel()">Cancelar</md-button>
  </md-dialog-actions>
  </form>
</md-dialog>
