<div layout-padding>
  <div class="md-display-1 green-text">Establecimiento <div class="md-headline grey-text">Configuración</div> </div>
</div>
<section layout-md="row" layout-sm="column" layout-gt-md="row">
  <md-card flex-md flex-sm flex-gt-md="50">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Ajustes</span>
      </div>
    </md-toolbar>
    <md-list>
      <md-divider></md-divider>
      <md-list-item ng-click="go('miembro')">
        <p>Miembros</p>
      </md-list-item>
      <md-list-item ng-click="go(config.url)" ng-repeat="config in configuraciones">
        <p> [[config.nombre]] </p>
      </md-list-item>
      <md-list-item ng-click="cargaAnimales()">
        <p>Importar animales desde excel</p>
      </md-list-item>
      <md-list-item ng-click="cargaAnimales2()">
        <p>Carga masiva de animales</p>
      </md-list-item>
    </md-list>

  </md-card>
</section>

