<div layout-padding>
  <h1 class="md-display-1 green-text">Establecimiento</h1>
</div>
<div layout="row">
  <md-card flex layout="column"  class="center action" ng-click="go('/potrero')">
    <div flex class="md-toolbar-tools green darken-1">
      <span flex></span>
      <p class="white-text md-title" >Potreros</p>
      <span flex></span>
    </div>
  </md-card>
  <md-card flex layout="column"  class="center action" ng-click="go('/compra')">
    <div flex class="md-toolbar-tools green darken-1">
      <span flex></span>
      <p class="white-text md-title" >Compra de animales</p>
      <span flex></span>
    </div>
  </md-card>
  <md-card flex layout="column"  class="center action" ng-click="go('/venta')">
    <div flex class="md-toolbar-tools green darken-1">
      <span flex></span>
      <p class="white-text md-title">Venta de animales</p>
      <span flex></span>
    </div>
  </md-card>
</div>

