<div layout="column">
  <div>
    <h1 class="md-display-1 green-text">Genetica</h1>
  </div>
  <!-- LOTES -->
  <section>
    <div layout-padding>
      <h2 class="md-headline green-text">Lotes</h2>
    </div>
    <md-card>
      <md-toolbar class="md-table-toolbar md-default" ng-hide="selectedLotes.length">
        <div class="md-toolbar-tools">
          <span flex>Lotes</span>
          <md-button class="md-icon-button" aria-label="More" ng-click="editLoteGenetica()">
            <md-icon><i class="material-icons">add</i></md-icon>
          </md-button>

        </div>
      </md-toolbar>
      <md-toolbar class="md-table-toolbar green lighten-4 green-text text-darken-4" ng-show="selectedLotes.length">
        <div class="md-toolbar-tools">
          <span>[[selectedLotes.length]] [[selectedLotes.length > 1 ? 'lotes seleccionados' : 'lote seleccionado']]</span>
          <span flex></span>
          <md-button
          <md-button class="md-icon-button" ng-show="selectedLotes.length == 1" ng-click="editLoteGenetica(selectedLotes[0])"
                     aria-label="Editar Lote">
            <md-icon><i class="material-icons green-text text-darken-4">edit</i></md-icon>
          </md-button>
          <md-button class="md-icon-button green-text text-darken-4"
                     ng-click="deleteLoteGenetica(selectedLotes[0])" aria-label="Delete Animal">
            <md-icon><i class="material-icons green-text text-darken-4">delete</i></md-icon>
          </md-button>
        </div>

      </md-toolbar>

      <!-- exact table from live demo -->
      <md-table-container>
        <table md-table md-row-select ng-model="selectedLotes" md-progress="promiseLotes">
          <thead md-head md-order="queryLotes.ordering" md-on-reorder="getLotes">
          <tr md-row md-select-id="id">
            <th md-column md-numeric md-order-by="id"><span>Código</span></th>
            <th md-column md-order-by="lote__nombre"><span>Nombre de lote</span></th>
            <th md-column md-numeric md-order-by="categoria__nombre">Categoria</th>
            <th md-column md-order-by="raza__nombre"><span>Raza</span></th>
            <th md-column md-numeric md-order-by="carimbo">Carimbo</th>
            <th md-column md-numeric md-order-by="porcentaje_pureza">Porcentaje de pureza</th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row md-select="loteGenetica" md-select-id="id" md-auto-select
              ng-repeat="loteGenetica in lotes.results">
            <td md-cell>[[loteGenetica.id]]</td>
            <td md-cell>[[loteGenetica.lote_nombre]]</td>
            <td md-cell>[[loteGenetica.categoria_nombre]]</td>
            <td md-cell>[[loteGenetica.raza_nombre]]</td>
            <td md-cell>[[loteGenetica.carimbo]]</td>
            <td md-cell>[[loteGenetica.porcentaje_pureza]]%</td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="20"
                           md-page="queryLotes.page" md-total="[[lotes.count]]" md-page-select="options.pageSelect"
                           md-boundary-links="options.boundaryLinks" md-on-paginate="getLotes"
                           md-page-select></md-table-pagination>
    </md-card>
  </section>
  <!-- ANIMALES -->
  <section>
    <div layout-padding>
      <h2 class="md-headline green-text">Animales</h2>
    </div>
    <md-card layout-padding ng-show="false">
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Lote</label>
          <md-select ng-model="queryAnimales.lote" aria-label="Lote" ng-change="getAnimales()">
            <md-option value="">
              Todos
            </md-option>
            <md-option ng-repeat="lote in lotes.results" value=[[lote.id]]>
              [[lote.nombre]]
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Categoria</label>
          <md-select ng-model="queryAnimales.categoria" aria-label="Categoria" ng-change="getAnimales()">
            <md-option value="">
              Todos
            </md-option>
            <md-option ng-repeat="cat in categorias.results" value=[[cat.id]]>
              [[cat.nombre]]
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Raza</label>
          <md-select ng-model="queryAnimales.raza" aria-label="Raza" ng-change="getAnimales()">
            <md-option value="">
              Todos
            </md-option>
            <md-option ng-repeat="raza in razas.results" value=[[raza.id]]>
              [[raza.nombre]]
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Carimbo</label>
          <md-select ng-model="queryAnimales.carimbo" aria-label="Carimbo" ng-change="getAnimales()">
            <md-option value="">
              Todos
            </md-option>
            <md-option ng-repeat="carimbo in [0,1,2,3,4,5,6,7,8,9]" value=[[carimbo]]>
              [[carimbo]]
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Estado Sanitario</label>
          <md-select ng-model="queryAnimales.estado_sanitario" aria-label="Estado Sanitario" ng-change="getAnimales()">
            <md-option value="">
              Todos
            </md-option>
            <md-option ng-repeat="estado in estados_sanitarios" value=[[estado.c]]>
              [[estado.display]]
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-card>
    <md-card>
      <md-toolbar class="md-table-toolbar md-default" ng-hide="selectedAnimales.length">
        <div class="md-toolbar-tools">
          <span>Animales</span>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="More" ng-click="editAnimal()">
            <md-icon><i class="material-icons">add</i></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-toolbar class="md-table-toolbar green lighten-4 green-text text-darken-4" ng-show="selectedAnimales.length">
        <div class="md-toolbar-tools">
          <span>[[selectedAnimales.length]] [[selectedAnimales.length > 1 ? 'animales seleccionados' : 'animal seleccionado']]</span>
          <span flex></span>
          <md-button class="md-icon-button" ng-show="selectedAnimales.length == 1"
                     ng-click="editAnimal(selectedAnimales[0])" aria-label="Editar Animal">
            <md-icon><i class="material-icons green-text text-darken-4">edit</i></md-icon>
          </md-button>
          <md-button class="md-icon-button green-text text-darken-4" ng-show="selectedAnimales.length == 1"
                     ng-click="deleteAnimal(selectedAnimales[0])" aria-label="Delete Animal">
            <md-icon><i class="material-icons green-text text-darken-4">delete</i></md-icon>
          </md-button>
          <md-button class="md-icon-button green-text text-darken-4" ng-show="selectedAnimales.length > 1"
                     ng-click="deleteListaAnimal(selectedAnimales)" aria-label="Delete Animal">
            <md-icon><i class="material-icons green-text text-darken-4">delete</i></md-icon>
          </md-button>
        </div>

      </md-toolbar>

      <md-table-container>
        <table md-table md-row-select multiple ng-model="selectedAnimales" md-progress="promiseAnimales">
          <thead md-head md-order="queryAnimales.ordering" md-on-reorder="getAnimales">
          <tr md-row md-select-id="id">

            <th md-column md-order-by="lote__nombre"><span>Lote</span></th>
            <th md-column md-order-by="categoria__nombre"><span>Categoria</span></th>
            <th md-column md-order-by="raza"><span>Raza</span></th>
            <th md-column md-numeric md-order-by="carimbo"><span>Carimbo</span></th>
            <th md-column md-numeric md-order-by="caravana"><span>Caravana</span></th>
            <th md-column md-numeric md-order-by="caravana"><span>Porcentaje de pureza</span></th>
            <th md-column md-order-by="nombre"><span>Nombre</span></th>
            <th md-column md-order-by="rp"><span>RP</span></th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row md-select="animalGenetica" md-select-id="id" md-auto-select ng-repeat="animalGenetica in animalesGenetica.results">
            <td md-cell>[[animalGenetica.animal.lote_nombre || 'No asignado']]</td>
            <td md-cell>[[animalGenetica.animal.categoria_nombre]]</td>
            <td md-cell>[[animalGenetica.animal.raza_nombre]]</td>
            <td md-cell>[[animalGenetica.animal.carimbo]]</td>
            <td md-cell>[[animalGenetica.animal.caravana]]</td>
            <td md-cell>[[animalGenetica.porcentaje_pureza]]%</td>
            <td md-cell>[[animalGenetica.nombre]]</td>
            <td md-cell>[[animalGenetica.rp]]</td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="queryAnimales.limit" md-limit-options="[20, 50, 100]"
                           md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
                           md-page="queryAnimales.page" md-total="[[animalesGenetica.count]]"
                           md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"
                           md-on-paginate="getAnimales"></md-table-pagination>
    </md-card>
  </section>

</div>

