<div layout="row" layout-sm="row" layout-xs="column">
<div flex></div>
<div flex id="login_view" layout-padding ng-controller="LoginCtrl">
  <md-card>
    <img src="images/logo.jpg" class="md-card-image" alt="Washed Out">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Login</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form role="form" layout="column" ng-submit="login(loginForm)" name="loginForm">

        <md-input-container >
          <label>Nombre de usuario</label>
          <input ng-model="model.username" type="text">
        </md-input-container>
        <md-input-container >
          <label>Contraseña</label>
          <input ng-model="model.password" type="password">
        </md-input-container>
        <div class="md-actions" layout="row" >
          <!--<div class="md-actions"><a href="#" flex>Informe</a></div>-->
          <span flex></span>
          <md-button flex-order="1" type="submit" class="md-primary">Ingresar</md-button>
        </div>
        <div class="red-text" ng-repeat="error in errors.password">[[error]]</div>
        <div class="red-text" ng-repeat="error in errors.non_field_errors">[[error]]</div>
        <div class="red-text" ng-if="error">[[error]]</div>

      </form>
    </md-card-content>
  </md-card>
</div>
<div flex></div>
</div>
