<section>
  <md-card style="
        margin-top: -37px;
        position: absolute;
        right: 25%;
        left: 25%;
        text-align: center;
        top: 30%;">
    <div layout-padding>
    <h1  class="black-text">Juan Pérez, bienvenido al Sistema MU</h1>
      <div layout="column" layout-align="center start" layout-padding flex>
        <p align="justify" class="inset">MU es un Proyecto de Ganadería Inteligente en Paraguay. Con su Software Administrativo podrás Controlar todas las Gestiones de tu Establecimiento Ganadero desde tu Computadora, Tablet o Smartphone; y tener toda tu Información de manera Ordenada y Protegida. Este, es el Inicio de la Revolución Ganadera en Paraguay.
    </p>
        </div>
      <div layout="row">
        <span flex></span>
        <md-button class="green-text" ng-click="empezar()">Empezar</md-button>

      </div>
      </div>
  </md-card>
</section>
