<section>
  <md-card style="
        margin-top: -37px;
        position: absolute;
        right: 25%;
        left: 25%;
        text-align: center;
        top: 30%;">
    <div layout-padding>
    <h1  class="black-text">“Nombre de la Persona”, bienvenido/a al Sistema MU</h1>

    <p>MU es un Proyecto de Ganadería Inteligente en Paraguay. Con su Software Administrativo podrás Controlar todas las Gestiones de tu Establecimiento Ganadero desde tu Computadora, Tablet o Smartphone; y tener toda tu Información de manera Ordenada y Protegida. Este, es el Inicio de la Revolución Ganadera en Paraguay.
    </p>
    <md-button class="green-text" ng-click="empezar()">Empezar</md-button>

    </div>
  </md-card>
</section>
