<div layout-padding>
    <h1 class="md-display-1 green-text">Nutrición</h1>
</div>
<section>
    <div layout-padding>
        <h2 class="md-headline green-text">Dietas Activas</h2>
    </div>
    <md-card layout-padding>
      <div layout="row">
      <md-input-container class="md-block" flex>
          <label>Lote</label>
          <md-select ng-model="queryDietas.lotes" aria-label="Lote" ng-change="getDietas()">
            <md-option value="todos">
              Todos
            </md-option>
            <md-option ng-repeat="lote in lotes.results" value=[[lote.id]]>
              [[lote.nombre]]
            </md-option>
              </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Tipo de nutrición</label>
          <md-select ng-model="queryDietas.tipo_nutricion" aria-label="Tipo de nutricion" ng-change="getDietas()">
            <md-option value="">
              Todos
            </md-option>
            <md-option ng-repeat="tipo in ['Cría','Engorde']" value=[[tipo]]>
              [[tipo]]
            </md-option>
              </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Raza</label>
          <md-select ng-model="queryAnimales.raza" aria-label="Raza" ng-change="getAnimales()">
            <md-option value="">
              Todos
            </md-option>
            <md-option ng-repeat="raza in razas.results" value=[[raza.id]]>
              [[raza.nombre]]
            </md-option>
              </md-select>
        </md-input-container>
        </div>
    </md-card>
    <md-card>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="selectedDietas.length">
            <div class="md-toolbar-tools">
                <span>Dietas Activas</span>
                <md-menu md-position-mode="target-right target" >
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon><i class="material-icons">more_vert</i> </md-icon>
                    </md-button>
                    <md-menu-content width="4" >
                        <md-menu-item>
                            <md-button ng-click="editDieta()">
                                <p>Agregar</p>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar green lighten-4 green-text text-darken-4" ng-show="selectedDietas.length">
            <div class="md-toolbar-tools">
                <span>[[selectedDietas.length]] [[selectedDietas.length > 1 ? 'dietas seleccionadas' : 'dieta seleccionada']]</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-show="selectedDietas.length == 1" ng-click="editDieta(selectedDietas[0])" aria-label="Editar Dieta">
                    <md-icon><i class="material-icons green-text text-darken-4">edit</i> </md-icon>
                </md-button>
                <md-button class="md-icon-button green-text text-darken-4" ng-show="selectedDietas.length == 1" ng-click="deleteDieta(selectedDietas[0])"  aria-label="Delete Dieta">
                    <md-icon><i class="material-icons green-text text-darken-4">delete</i> </md-icon>
                </md-button>
            </div>

        </md-toolbar>

        <!-- exact table from live demo -->
        <md-table-container>
            <table md-table md-row-select ng-model="selectedDietas" md-progress="promiseDietas">
                <thead md-head md-order="queryDietas.ordering" md-on-reorder="getDietas">
                <tr md-row md-select-id="id">
                    <th md-column md-order-by="fecha_inicio">Periodo</th>
                    <th md-column md-order-by="tipo_nutricion">Tipo de Nutrición</th>
                    <th md-column md-order-by="tipo_comida">Tipo de Alimento</th>
                    <th md-column md-order-by="descripcion_comida">Descrip. de Alimento</th>
                    <th md-column md-numeric md-order-by="kilos">Total kg.(p/cabeza)</th>
                    <th md-column>Lotes</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="dieta" md-select-id="id" md-auto-select ng-repeat="dieta in dietas.results">
                    <td md-cell>[[dieta.fecha_inicio | date:'dd/MM/yyyy']] - [[dieta.fecha_fin | date:'dd/MM/yyyy']]</td>
                    <td md-cell>[[dieta.tipo_nutricion]]</td>
                    <td md-cell>[[dieta.tipo_comida]]</td>
                    <td md-cell>[[dieta.descripcion_comida]]</td>
                    <td md-cell>[[dieta.kilos]]</td>
                    <td md-cell><div ng-repeat="lote in dieta.lotes_completo">[[lote.nombre]]</div></td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="20" md-page="queryDietas.page" md-total="[[dietas.count]]" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="getDietas" md-page-select></md-table-pagination>
    </md-card>
</section>