<section>
  <div >
    <h1 class="md-display-1 green-text">Establecimiento</h1>
  </div>
  </section>
<section>
    <div layout-padding>
    <h2 class="md-headline green-text">Potreros</h2>
    </div>
    <md-card>
      <md-toolbar class="md-table-toolbar md-default" ng-hide="selectedPotreros.length">
        <div class="md-toolbar-tools">
          <span flex>Potreros</span>
            <md-button class="md-icon-button" aria-label="More" ng-click="editPotrero()">
              <md-icon><i class="material-icons">add</i> </md-icon>
            </md-button>
        </div>
      </md-toolbar>
      <md-toolbar class="md-table-toolbar green lighten-4 green-text text-darken-4" ng-show="selectedPotreros.length">
        <div class="md-toolbar-tools">
          <span>[[selectedPotreros.length]] [[selectedPotreros.length > 1 ? 'potreros seleccionados' : 'potrero seleccionado']]</span>
          <span flex></span>
          <md-button class="md-icon-button" ng-show="selectedPotreros.length == 1" ng-click="editPotrero(selectedPotreros[0])" aria-label="Editar Lote">
            <md-icon><i class="material-icons green-text text-darken-4">edit</i> </md-icon>
          </md-button>
          <md-button class="md-icon-button green-text text-darken-4" ng-show="selectedPotreros.length == 1 && potreros.count>1" ng-click="deletePotrero(selectedPotreros[0])"  aria-label="Delete Potrero">
            <md-icon><i class="material-icons green-text text-darken-4">delete</i> </md-icon>
          </md-button>
        </div>

      </md-toolbar>

      <!-- exact table from live demo -->
      <md-table-container>
        <table md-table md-row-select ng-model="selectedPotreros" md-progress="promisePotreros">
          <thead md-head md-order="queryPotreros.ordering" md-on-reorder="getPotreros">
          <tr md-row md-select-id="id">

              <th md-column md-numeric md-order-by="id"><span>Código</span></th>
            <th md-column md-order-by="nombre"><span>Nombre</span></th>
            <th md-column md-numeric md-order-by="superficie"><span>Superficie (Ha.)</span></th>
            <th md-column md-order-by="uso">Uso</th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row md-select="potrero" md-select-id="id" md-auto-select ng-repeat="potrero in potreros.results">
              <td md-cell>[[potrero.codigo]]</td>
            <td md-cell>[[potrero.nombre]]</td>
            <td md-cell>[[potrero.superficie]]</td>
            <td md-cell>[[potrero.uso]]</td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="20" md-page="queryPotreros.page" md-total="[[potreros.count]]" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="getPotreros" md-page-select></md-table-pagination>
    </md-card>
  </section>


