<section>
  <div >
    <h1 class="md-display-1 green-text">Manejo</h1>
  </div>
</section>
<section>
  <div layout-padding>
    <h2 class="md-headline green-text">Ventas</h2>
  </div>
  <md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="selectedVentas.length">
      <div class="md-toolbar-tools">
        <span flex> Listado de Ventas</span>
        <md-button class="md-icon-button" aria-label="More" ng-click="abrirFormCarga(null)">
          <md-icon><i class="material-icons">add</i> </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar green lighten-4 green-text text-darken-4" ng-show="selectedVentas.length">
      <div class="md-toolbar-tools">
        <span>[[selectedVentas.length]] [[selectedVentas.length > 1 ? 'ventas seleccionadas' : 'venta seleccionada']]</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-show="selectedVentas.length == 1" ng-click="abrirFormCarga(selectedVentas[0])" aria-label="Editar Venta">
          <md-icon><i class="material-icons green-text text-darken-4">edit</i> </md-icon>
        </md-button>
        <md-button class="md-icon-button green-text text-darken-4" ng-show="selectedVentas.length >= 1" ng-click="deleteVenta(selectedVentas)"  aria-label="Delete Venta">
          <md-icon><i class="material-icons green-text text-darken-4">delete</i> </md-icon>
        </md-button>
      </div>

    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
      <table md-table md-row-select multiple ng-model="selectedVentas" md-progress="promiseVentas">
        <thead md-head md-order="queryVentas.ordering" md-on-reorder="getVentas">
        <tr md-row>
          <th md-column md-order-by="fecha_venta"><span>Fecha de venta</span></th>
          <th md-column md-order-by="nombre_comprador"><span>Nombre del comprador</span></th>
          <th md-column md-order-by="nombre_comprador"><span>Código del establecimiento</span></th>
          <th md-column md-order-by="numero_guia"><span>Guía Nº</span></th>
          <th md-column md-numeric md-order-by="precio_total"><span>Precio Total</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="venta" md-select-id="id" ng-disabled="!venta.establecimiento" md-auto-select ng-repeat="venta in ventas.results">
          <td md-cell>[[venta.fecha_venta]]</td>
          <td md-cell>[[venta.nombre_comprador]]</td>
          <td md-cell>[[venta.cod_establecimiento_comprador]]</td>
          <td md-cell>[[venta.numero_guia]]</td>
          <td md-cell>[[venta.precio_total | number]]</td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="20" md-page="queryVentas.page" md-total="[[ventas.count]]" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="getVentas" md-page-select></md-table-pagination>
  </md-card>
</section>


